.person_3 {
    background-image: url("../../public/person3.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}

.testimony .inner {
    width: 20%;
    float: left;
}

.testimony .inner .person_3 {
    width: 190px;
    height: 190px;
    border: 10px solid #fff;
    margin-bottom: 20px;
 
    border-radius: 50%;
}



.testimony blockquote {
    width: 75%;
    float: right;
    padding: 40px;
    background: rgba(0, 0, 0, 0.03);
    border-left: none;
    position: relative;
}