.footer {
    padding-bottom: 70px;
    text-align: center;
}

.footer {
    background-color: #dcf3ed;
    padding: 0 0 2.5rem 0;
}

.follow {
    padding: 1.625rem 0;
    text-align: center;
}

.container {
    width: 100% !important;
    text-align: center;
}

.follow__title {
    text-align: center;
    font-family: 'Blanc-Bold';
    font-weight: normal;
    font-style: normal;
    font-size: 0.688rem;
    text-transform: uppercase;
    margin-bottom: 1.375rem;
    letter-spacing: 1px;
    color: #535453;
}


.follow__list {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-unstyled {
    isplay: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

ul {
    margin-top: 0;
    margin-bottom: 11px;
}

.footer__list__item__link {
    color: black;
    font-size: 0.813rem;
    line-height: 1.563rem;
    font-family: Blanc-Medium;
    font-weight: normal;
    font-style: normal;
}

.footer__copyright {
    color: black;
    font-family: Blanc-Light;
    font-weight: normal;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    margin-top: 1.875rem;
}
