.container-bg {
  background-image: url("../../../public/img_bg_2.jpg");
  background-size: cover;
  width: 100%;
  height: 705px;
  display: flex;
}

/* .container-fluid::before {
  content:"";
  z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
} */

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: AUTO;
}

.text-center h1 {
  font-size: 60px;
  color: white;
  text-decoration: uppercase;
}

.text-center h2 {
  font-size: 20px;
  color: white;
}
