/* nav {
  background: red;
} */
.navbar-expand-lg .container .navbar-collapse {
  display: flex !important;
  justify-content: end;
  flex-grow: 0;
  z-index: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container {
  align-items: baseline;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 5px;
}
ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

ul li.active > a {
  color: #fff !important;
}

.bg-light {
  z-index: 1;
}
