.fh5co-project {
  padding: 7em 0;
  clear: both;
}
.col-md-offset-2 {
  text-align: center;
  margin-left: 16.66667%;
}

.fh5co-heading {
  margin-bottom: 2em;
}

.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.fh5co-heading h2 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
}

.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}

.project-content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.project-content .col-half {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.picture {
  background-image: url("../../../public/project-3.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.picture_1 {
  background-image: url("../../../public/project-5.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.picture_2 {
  background-image: url("../../../public/project-2.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.project-content .col-half .project-grid {
  height: 390px;
}

.project-content .col-half .project-grid {
  height: 390px;
  margin-bottom: 20px;
}

.project-content .col-half .project {
  height: 800px;
}

.project-content .desc {
  background: rgba(12, 156, 238, 0.9);
  padding: 10px 20px;
  position: absolute;
  bottom: -93px;
  left: 0;
  right: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.project-content .desc span {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.project-content .desc h3 {
  color: white;
}

.project-content .col-half .project:before,
.project-content .col-half .project-grid:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
